@import '~style/palette';

@mixin underline-core {
    position: relative;

    &::before {
        content: '';

        width: 100%;
        height: 3px;
        
        position: absolute;
        bottom: -5px;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-out;
    }
}

@mixin underline-bg($background: $white) {
    &::before {
        background: $background;
    }
}

@mixin underline-active {
    &::before {
        transform: scaleX(1);
        transform-origin: left;
    }
}
