@import '~style/palette';
@import '~style/canvas';
@import '~style/transitions';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    color: $white;
    background: $black;

    font-family: 'Quicksand', arial;
}

a {
    color: $white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

object {
    pointer-events: none;
}
